<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="d435" params="name *origin *mesh">

  <!-- D435 camera sensor offsets -->
  <xacro:property name="d435_cam_depth_to_infra1_offset" value="0.0"/>
  <xacro:property name="d435_cam_depth_to_infra2_offset" value="-0.050"/>
  <xacro:property name="d435_cam_depth_to_color_offset" value="0.015"/>

  <!-- D435 camera link -->
    <link name="${name}_link">
      <visual>
        <xacro:insert_block name="origin"/>
        <geometry>
          <xacro:insert_block name="mesh"/>
        </geometry>
      </visual>
    </link>

    <!-- D435 camera joint -->
    <joint name="${name}_joint" type="fixed">
      <parent link="base_link"/>
      <child link="${name}_link"/>
      <xacro:if value="${name=='top_camera'}">
        <origin rpy="0 0 -${pi/2}" xyz="0.0 0.0525 0.9745"/>
      </xacro:if>
      <xacro:unless value="${name=='top_camera'}">
        <origin rpy="0 ${pi/3} -${pi/2}" xyz="0.0 -0.077 0.545"/>
      </xacro:unless>
    </joint>

    <!-- D435 camera depth link and joint -->
    <link name="${name}_depth"></link>

    <joint name="${name}_depth_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${name}_link"/>
      <child link="${name}_depth"/>
    </joint>

    <!-- D435 depth optical link and joint -->
    <link name="${name}_depth_optical_frame"></link>

    <!-- D435 camera optical joint -->
    <joint name="${name}_depth_optical_joint" type="fixed">
      <origin xyz="0.0 0.0 0.0" rpy="-${pi/2} 0 -${pi/2}"/>
      <parent link="${name}_depth"/>
      <child link="${name}_depth_optical_frame"/>
    </joint>

    <!-- Camera left IR joints and links -->
    <link name="${name}_infra1_frame"/>

    <joint name="${name}_infra1_joint" type="fixed">
      <origin xyz="0 ${d435_cam_depth_to_infra1_offset} 0" rpy="0 0 0" />
      <parent link="${name}_link"/>
      <child link="${name}_infra1_frame"/>
    </joint>

    <link name="${name}_infra1_optical_frame"/>

    <joint name="${name}_infra1_optical_joint" type="fixed">
      <origin xyz="0.0 0.0 0.0" rpy="-${pi/2} 0 -${pi/2}"/>
      <parent link="${name}_infra1_frame"/>
      <child link="${name}_infra1_optical_frame"/>
    </joint>

    <!-- Camera right IR joints and links -->
    <link name="${name}_infra2_frame"/>

    <joint name="${name}_infra2_joint" type="fixed">
      <origin xyz="0 ${d435_cam_depth_to_infra2_offset} 0" rpy="0 0 0" />
      <parent link="${name}_link"/>
      <child link="${name}_infra2_frame"/>
    </joint>

    <link name="${name}_infra2_optical_frame"/>

    <joint name="${name}_infra2_optical_joint" type="fixed">
      <origin xyz="0.0 0.0 0.0" rpy="-${pi/2} 0 -${pi/2}"/>
      <parent link="${name}_infra2_frame"/>
      <child link="${name}_infra2_optical_frame"/>
    </joint>

    <!-- Camera color joint and link -->
    <link name="${name}_color_frame"/>

    <joint name="${name}_color_joint" type="fixed">
      <origin xyz="0 ${d435_cam_depth_to_color_offset} 0" rpy="0 0 0"/>
      <parent link="${name}_link"/>
      <child link="${name}_color_frame"/>
    </joint>

    <link name="${name}_color_optical_frame"/>

    <joint name="${name}_color_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="-${pi/2} 0 -${pi/2}"/>
      <parent link="${name}_color_frame"/>
      <child link="${name}_color_optical_frame"/>
    </joint>

    <!-- Gazebo color frame link reference -->
    <gazebo reference="${name}_color_frame">
      <sensor type="camera" name="${name}_color">
        <always_on>true</always_on>
        <visualize>false</visualize>
        <update_rate>30.0</update_rate>
        <topic>${name}_color/image_raw</topic>
        <gz_frame_id>${name}_color_optical_frame</gz_frame_id>
        <camera name="${name}_color">
          <camera_info_topic>${name}_color/camera_info</camera_info_topic>
          <horizontal_fov>1.57</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.1</near>
            <far>100</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
      </sensor>
    </gazebo>

    <!-- Gazebo depth camera link reference -->
    <gazebo reference="${name}_depth">
      <sensor type="rgbd_camera" name="${name}_depth">
        <always_on>true</always_on>
        <visualize>false</visualize>
        <update_rate>15.0</update_rate>
        <topic>${name}_depth</topic>
        <gz_frame_id>${name}_depth</gz_frame_id>
        <camera name="${name}_depth">
          <camera_info_topic>${name}_depth/camera_info</camera_info_topic>
            <horizontal_fov>1.57</horizontal_fov>
            <image>
              <width>640</width>
              <height>480</height>
              <format>B8G8R8</format>
            </image>
          <clip>
            <near>0.1</near>
            <far>100</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.100</stddev>
          </noise>
        </camera>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
