<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="d435" params="name *origin *mesh">

  <!-- D435 camera sensor offsets -->
  <xacro:property name="d435_cam_depth_to_infra1_offset" value="0.0"/>
  <xacro:property name="d435_cam_depth_to_infra2_offset" value="-0.050"/>
  <xacro:property name="d435_cam_depth_to_color_offset" value="0.015"/>

  <!-- Sensor image dimensions -->
  <xacro:property name="color_width" value="1280"/>
  <xacro:property name="color_height" value="720"/>
  <xacro:property name="infra_width" value="640"/>
  <xacro:property name="infra_height" value="480"/>
  <xacro:property name="depth_width" value="1280"/>
  <xacro:property name="depth_height" value="720"/>

    <!-- D435 camera link -->
    <link name="${name}_link">
      <visual>
        <xacro:insert_block name="origin"/>
        <geometry>
          <xacro:insert_block name="mesh"/>
        </geometry>
      </visual>
    </link>

    <!-- D435 camera joint -->
    <joint name="${name}_joint" type="fixed">
      <parent link="base_link"/>
      <child link="${name}_link"/>
      <xacro:if value="${name=='top_camera'}">
        <origin rpy="0 0 -${pi/2}" xyz="0.0 0.0525 0.9745"/>
      </xacro:if>
      <xacro:unless value="${name=='top_camera'}">
        <origin rpy="0 ${pi/3} -${pi/2}" xyz="0.0 -0.077 0.545"/>
      </xacro:unless>
    </joint>

    <!-- D435 optical link -->
    <link name="${name}_depth_optical_frame"></link>

    <!-- D435 camera optical joint -->
    <joint name="${name}_depth_joint" type="fixed">
      <parent link="${name}_link"/>
      <child link="${name}_depth_optical_frame"/>
      <origin rpy="-${pi/2} 0 -${pi/2}" xyz="0.0 0.0 0.0"/>
    </joint>

    <!-- Camera left IR joints and links -->
    <link name="${name}_infra1_frame"/>

    <joint name="${name}_infra1_joint" type="fixed">
      <origin xyz="0 ${d435_cam_depth_to_infra1_offset} 0" rpy="0 0 0" />
      <parent link="${name}_link"/>
      <child link="${name}_infra1_frame"/>
    </joint>

    <link name="${name}_infra1_optical_frame"/>

    <joint name="${name}_infra1_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="-${pi/2} 0 -${pi/2}"/>
      <parent link="${name}_infra1_frame"/>
      <child link="${name}_infra1_optical_frame"/>
    </joint>

    <!-- Camera right IR joints and links -->
    <link name="${name}_infra2_frame"/>

    <joint name="${name}_infra2_joint" type="fixed">
      <origin xyz="0 ${d435_cam_depth_to_infra2_offset} 0" rpy="0 0 0" />
      <parent link="${name}_link"/>
      <child link="${name}_infra2_frame"/>
    </joint>

    <link name="${name}_infra2_optical_frame"/>

    <joint name="${name}_infra2_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="-${pi/2} 0 -${pi/2}"/>
      <parent link="${name}_infra2_frame"/>
      <child link="${name}_infra2_optical_frame"/>
    </joint>

    <!-- Camera color joints and links -->
    <link name="${name}_color_frame"/>

    <joint name="${name}_color_joint" type="fixed">
      <origin xyz="0 ${d435_cam_depth_to_color_offset} 0" rpy="0 0 0"/>
      <parent link="${name}_link"/>
      <child link="${name}_color_frame"/>
    </joint>

    <link name="${name}_color_optical_frame"/>

    <joint name="${name}_color_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="-${pi/2} 0 -${pi/2}"/>
      <parent link="${name}_color_frame"/>
      <child link="${name}_color_optical_frame"/>
    </joint>

    <gazebo reference="${name}">
      <sensor name="${name}_color" type="camera">
        <camera name="${name}">
          <camera_info_topic>${name}_color/camera_info</camera_info_topic>
          <horizontal_fov>1.57</horizontal_fov>
          <image>
            <width>${color_width}</width>
            <height>${color_height}</height>
            <format>RGB_INT8</format>
          </image>
          <clip>
            <near>0.1</near>
            <far>100</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
        <always_on>true</always_on>
        <visualize>true</visualize>
        <update_rate>30</update_rate>
        <topic>${name}_color/image_raw</topic>
        <gz_frame_id>${name}_color_optical_frame</gz_frame_id>
      </sensor>

      <sensor name="${name}_infra1" type="camera">
        <camera name="${name}">
          <camera_info_topic>${name}_infra1/camera_info</camera_info_topic>
          <horizontal_fov>1.57</horizontal_fov>
          <image>
            <width>${infra_width}</width>
            <height>${infra_height}</height>
            <format>L_INT8</format>
          </image>
          <clip>
            <near>0.1</near>
            <far>100</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.05</stddev>
          </noise>
        </camera>
        <always_on>false</always_on>
        <visualize>false</visualize>
        <update_rate>30</update_rate>
        <topic>${name}_infra1/image_raw</topic>
        <gz_frame_id>${name}_infra1_optical_frame</gz_frame_id>
      </sensor>

      <sensor name="${name}_infra2" type="camera">
        <camera name="${name}">
          <camera_info_topic>${name}_infra2/camera_info</camera_info_topic>
          <horizontal_fov>1.57</horizontal_fov>
          <image>
            <width>${infra_width}</width>
            <height>${infra_height}</height>
            <format>L_INT8</format>
          </image>
          <clip>
            <near>0.1</near>
            <far>100</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.05</stddev>
          </noise>
        </camera>
        <always_on>false</always_on>
        <visualize>false</visualize>
        <update_rate>30</update_rate>
        <topic>${name}_infra1/image_raw</topic>
        <gz_frame_id>${name}_infra2_optical_frame</gz_frame_id>
      </sensor>

      <!-- <sensor name="${name}_depth" type="depth"> -->
      <sensor name="${name}_depth" type="rgbd_camera">
        <camera name="${name}">
          <camera_info_topic>${name}_depth/camera_info</camera_info_topic>
            <horizontal_fov>1.57</horizontal_fov>
            <image>
              <width>${depth_width}</width>
              <height>${depth_height}</height>
            </image>
          <clip>
            <near>0.1</near>
            <far>100</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.100</stddev>
          </noise>
        </camera>
        <always_on>true</always_on>
        <update_rate>30</update_rate>
        <visualize>false</visualize>
        <topic>${name}_depth_to_color/image_raw</topic>
        <gz_frame_id>${name}_depth_optical_frame</gz_frame_id>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
